[% flagInfo = {
  'invalid' => { title => 'Tests invalid CSS', abbr => 'Invalid' },
  'asis' => { title => 'Can not be re-serialized', abbr => 'As-Is' },
  'reftest' => { title => 'Compare to reference pages', abbr => 'Reftest' },
  'namespace' => { title => 'Requires XML Namespaces support', abbr => 'Namespaces' },
  'should' => { title => 'Behavior tested is recommended but not required', abbr => 'Recommend' },
  'may21' => { title => 'Behavior tested is preferred but optional', abbr => 'Optional' },
  'svg' => { title => 'Requires SVG support', abbr => 'SVG' },
  'history' => { title => 'Requires session history', abbr => 'History' },
  'http' => { title => 'Requires HTTP headers', abbr => 'HTTP' },
  'paged' => { title => 'Only valid for paged media', abbr => 'Paged' },
  'image' => { title => 'Requires bitmap graphic support', abbr => 'Bitmaps' },
  'nonHTML' => { title => 'Specific to non-HTML formats', abbr => 'Non-HTML' },
  'animated' => { title => 'Animated test', abbr => 'Animated' },
  'HTMLonly' => { title => 'Specific to HTML', abbr => 'HTML Only' },
  'scroll' => { title => 'Only valid for continuous media', abbr => 'Scroll' },
  'userstyle' => { title => 'Requires user style sheet or other special setting', abbr => 'User Style' },
  'interact' => { title => 'Requires user interaction', abbr => 'Interact' },
  '96dpi' => { title => 'Only valid on 96dpi displays', abbr => '96' },
  'combo' => { title => 'Combination of child tests', abbr => 'Combo' },
  '32bit' => { title => 'Requires 32 bit signed integers', abbr => '32' },
  'speech' => { title => 'Requires speech support', abbr => 'Speech' },
  'dom' => { title => 'Requires Document Object Model support', abbr => 'DOM/JS' },
  'font' => { title => 'Requires a special font', abbr => 'Font' },
  'may' => { title => 'Behavior tested is preferred but optional', abbr => 'Optional' },
  'ahem' => { title => 'Requires Ahem font', abbr => 'Ahem' },
}
%]