[% suites = {
  'css-writing-modes-3_dev' => { title => 'CSS Writing Modes Module Level 3 CR Test Suite', spec => 'CSS Writing Modes 3', specroot => 'http://www.w3.org/TR/css3-writing-modes/', owner => 'None Yet', harness => 'css-writing-modes-3_dev', status => 'dev'  },
  'css-text-decor-3_dev' => { title => 'CSS Text Decoration Module Level 3 CR Test Suite', spec => 'CSS Text Decoration 3', specroot => 'http://www.w3.org/TR/css-text-decor-3/', owner => 'None Yet', harness => 'css-text-decor-3_dev', status => 'dev'  },
  'css-multicol-1_dev' => { title => 'CSS Multi-column Layout Module Level 1 CR Test Suite', spec => 'CSS Multicol 1', specroot => 'http://www.w3.org/TR/css3-multicol/', owner => 'None Yet', harness => 'css-multicol-1_dev', status => 'dev'  },
  'css-transforms-1_dev' => { title => 'CSS Transforms Module Level 1 CR Test Suite', spec => 'CSS Transforms 1', specroot => 'http://www.w3.org/TR/css3-transforms/', owner => 'None Yet', harness => 'css-transforms-1_dev', status => 'dev'  },
  'css21_dev' => { title => 'CSS 2.1 Conformance Test Suite', spec => 'CSS 2.1', specroot => 'http://www.w3.org/TR/CSS21/', owner => 'None Yet', harness => 'css21_dev', status => 'beta'  },
  'css-color-3_dev' => { title => 'CSS Color Module Level 3 Conformance Test Suite', spec => 'CSS Color 3', specroot => 'http://www.w3.org/TR/css3-color/', owner => 'None Yet', harness => 'css-color-3_dev', status => 'beta'  },
  'css-ui-3_dev' => { title => 'CSS Basic User Interface Module Level 3 CR Test Suite', spec => 'CSS User Interface 3', specroot => 'http://www.w3.org/TR/css3-ui/', owner => 'None Yet', harness => 'css-ui-3_dev', status => 'dev'  },
  'filters-1_dev' => { title => 'Filter Effects Level 1 CR Test Suite', spec => 'Filter Effects 1', specroot => 'http://www.w3.org/TR/filter-effects/', owner => 'None Yet', harness => 'filters-1_dev', status => 'dev'  },
  'css-shapes-1_dev' => { title => 'CSS Shapes Module Level 1 CR Test Suite', spec => 'CSS Shapes 1', specroot => 'http://www.w3.org/TR/css-shapes-1/', owner => 'None Yet', harness => 'css-shapes-1_dev', status => 'dev'  },
  'css-masking-1_dev' => { title => 'CSS Masking Level 1 CR Test Suite', spec => 'CSS Masking 1', specroot => 'http://www.w3.org/TR/css-masking/', owner => 'None Yet', harness => 'css-masking-1_dev', status => 'dev'  },
  'css-regions-1_dev' => { title => 'CSS Regions Module Level 1 CR Test Suite', spec => 'CSS Regions 1', specroot => 'http://www.w3.org/TR/css3-regions/', owner => 'Mihai Balan, Adobe Systems, &lt;mibalan @adobe.com&gt;', harness => 'css-regions-1_dev', status => 'dev'  },
  'css-flexbox-1_dev' => { title => 'CSS Flexible Box Layout Module Level 1 CR Test Suite', spec => 'CSS Flexbox 1', specroot => 'http://www.w3.org/TR/css3-flexbox/', owner => 'None Yet', harness => 'css-flexbox-1_dev', status => 'dev'  },
  'css-fonts-3_dev' => { title => 'CSS Fonts Module Level 3 CR Test Suite', spec => 'CSS Fonts 3', specroot => 'http://www.w3.org/TR/css3-fonts/', owner => 'None Yet', harness => 'css-fonts-3_dev', status => 'dev'  },
  'css-text-3_dev' => { title => 'CSS Text Module Level 3 CR Test Suite', spec => 'CSS Text 3', specroot => 'http://www.w3.org/TR/css3-text/', owner => 'None Yet', harness => 'css-text-3_dev', status => 'dev'  },
  'css-backgrounds-3_dev' => { title => 'CSS Backgrounds and Borders Module Level 3 CR Test Suite', spec => 'CSS Backgrounds 3', specroot => 'http://www.w3.org/TR/css3-background/', owner => 'None Yet', harness => 'css-backgrounds-3_dev', status => 'dev'  },
  'css-style-attr-1_dev' => { title => 'CSS Style Attributes Level 1 CR Test Suite', spec => 'CSS Style Attributes 1', specroot => 'http://www.w3.org/TR/css-style-attr/', owner => 'None Yet', harness => 'css-style-attr-1_dev', status => 'dev'  },
  'css-exclusions-1_dev' => { title => 'CSS Exclusions Module Level 1 CR Test Suite', spec => 'CSS Exclusions 1', specroot => 'http://www.w3.org/TR/css3-exclusions/', owner => 'None Yet', harness => 'css-exclusions-1_dev', status => 'dev'  },
  'css-transitions-1_dev' => { title => 'CSS Transitions Module Level 1 CR Test Suite', spec => 'CSS Transitions 1', specroot => 'http://www.w3.org/TR/css3-transitions/', owner => 'None Yet', harness => 'css-transitions-1_dev', status => 'dev'  },
  'css-animations-1_dev' => { title => 'CSS Animations Module Level 1 CR Test Suite', spec => 'CSS Animations 1', specroot => 'http://www.w3.org/TR/css3-animations/', owner => 'None Yet', harness => 'css-animations-1_dev', status => 'dev'  },
  'css-conditional-3_dev' => { title => 'CSS Conditional Rules Module Level 3 CR Test Suite', spec => 'CSS Conditional 3', specroot => 'http://www.w3.org/TR/css3-conditional/', owner => 'None Yet', harness => 'css-conditional-3_dev', status => 'dev'  },
}
%]